.App {
  text-align: center;
}

body {
  background-color: #282c34;
  color: white;
  padding: 20px 0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  pointer-events: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 7vw;
}

.chatContainer {
  width: 100%;
  height: 74vh;
  background: black;
  color: white;
  margin: 15px;
  margin-bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chatForm {
  width: 100%;
}

.chatForm>input {
  width: 100%;
  height: 65px;
  border: 10px solid black;
  font-size: 22px;
  padding: 5px;
  box-sizing: border-box;
  color: white;
  background: #343d46;
}

.chatForm>input:focus {
  outline: none;
}

ul {
  list-style: none;
  padding: 0 3vw;
}

.username {
  font-size: 30px;
}

.messageContainer {
  font-size: 120%;
  margin: 25px 0;
  word-break: break-all;
  line-height: 200%;
}

.nickname {
  font-weight: 700;
  border: 2px solid rebeccapurple;
  background: rgba(62, 78, 109, 1);
  border-radius: 10px;
  padding: 5px;
  color: ghostwhite;
}

.message {
  margin-left: 10px;
  font-weight: 500;
  color: white;
}

.user-message {
  text-align: right;
}

.user-message>.nickname {
  display: none;
  color: rebeccapurple;
  font-weight: 600;
  font-size: 110%;
}

.user-message>.message {
  border: 2px solid royalblue;
  background: rgba(255, 0, 0, 0.1);
  border-radius: 10px;
  padding: 5px 15px;
  font-weight: 600;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  cursor: pointer;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

::-webkit-resizer @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.connection {
  margin-top: -7vh;
  text-align: center;
  font-size: 30px;
  color: red;
  font-weight: 400;
}

@media (max-width: 768px) {
  ::-webkit-scrollbar {
    display: none;
  }
  
  ::-webkit-scrollbar-track {
    display: none;
  }
  
  ::-webkit-scrollbar-thumb {
    display: none;
  }
}